/* Generell */

/* Importiert Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* Entfernt jede Default Einstellung auf dieser Seite im Sinne des Abstands*/
* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* Übergang vom Hover*/
a,
.btn{
    transition: all 450ms ease;
}

/*Desktop-Nav*/

nav, .nav-links{/* Gilt für Alle Objekte im Nav und alle Objekte in der Liste*/
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh; /* Prozentanteil den der Nav einnimmt*/
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: azure;
}

a:hover{
    color: lightslategrey;
    text-underline-offset: 1rem;
}

.Logo{
    font-size: 2.5rem;
}

.Logo:hover{
    cursor: default;
}

/* HAMBURGER MENÜ*/
#HAMBURGER-NAV{
    display: none;
}

.hamburger-menü{
    position: relative;
    display: inline-block;
}
/*abstand und Form der Linien des Hamburger*/
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;

}
/*Schwarze Linien im Hamburger*/
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition:all 0.3ms ease-in-out;
}
/*Rahmen für Menu welches aufpoppt im geschlossenen Zustand vom Hamburger NAV*/
.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: transparent;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3ms ease-in-out;
}
/*Inhalt für Menü was aufpoppt*/
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3ms ease-in-out;
}
.menu-links li{
    list-style: none;
}
/*Hamburger im offenen Zustand*/
.menu-links.open {
    max-height: 300px;
}
/*Beim öffnen des Hamburgers werden der erste Span und letzt um 45 grad
  gedreht und ein X erzeugt was ein ESC Button darstellen . Der Span in
  der mitte wird unsichtbar*/
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

/*SECTIONS*/

section{
    padding: 3vh;
    height: 97vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

#profil{
    display:flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.Section_Foto-Container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.Section_text{
    align-self: center;
    text-align: center;
}

.Section_text_p{
    font-weight: 600;
}

.Section_text_p1{
    text-align: center;
}

.Section_text_p1{
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
}

.Section_text_p2{
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#Socials-Container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*Icons*/

.icon{
    cursor: pointer;
    height: 2rem;
}



